# Assignment 20 Solutions

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open("test.text", "w") as f:
    f.write(test1)
    f.close()

This is a test of the emergency text system,

In [3]:
# read the contents of test.txt
! type test.text

This is a test of the emergency text system,

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open("test.text","r") as f:
    test2 = f.read()
    if test1 == test2:
        print("There is no difference in between 'test1' and 'test2'")
    else:
        print( "'test1' and 'test2' are two different files")

There is no difference in between 'test1' and 'test2'

#### 3. Create a CSV file called books.csv by using these lines:
`title,author,year`  
`The Weirdstone of Brisingamen,Alan Garner,1960`  
`Perdido Street Station,China Miéville,2000`  
`Thud!,Terry Pratchett,2005`  
`The Spellman Files,Lisa Lutz,2007`  
`Small Gods,Terry Pratchett,1992`

In [5]:
s = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open("books.csv", "w") as f:
    f.write(s)

In [6]:
import pandas as pd
csv_file = pd.read_csv(r"books.csv", delimiter=",", encoding='latin-1')
csv_file

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3
con = sqlite3.connect('books.db')
cursor = con.cursor()
cursor.execute("create table books(title text, author text, year integer)" )
con.commit()
con.close()

#### 5. Read books.csv and insert its data into the books table.

In [6]:
import sqlite3
import csv
con = sqlite3.connect("books.db")
cursor = con.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
con.commit()
con.close()

#### 6. Select and print the title column from the books table in alphabetical order.

In [7]:
import sqlite3
con = sqlite3.connect('books.db')
cursor = con.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for i in output:
    print(i[0])
con.commit()
con.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the books table, select and print all columns in the order of publication.

In [8]:
import sqlite3
con = sqlite3.connect('books.db')
cursor = con.cursor()
output = cursor.execute("SELECT * FROM books ORDER BY year")
for i in output:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [9]:
import sqlalchemy
con = sqlalchemy.create_engine('sqlite:///books.db')
con

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [10]:
! python -m pip install redis

Requirement already satisfied: redis in c:\programdata\anaconda3\lib\site-packages (3.5.3)

In [13]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [14]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'13'